

## EXPIRES CACHING ##
<IfModule expires_module>
ExpiresActive On
ExpiresByType image/jpg "access 1 month" 
ExpiresByType image/png "access 1 month" 
ExpiresByType image/gif "access 1 month" 
ExpiresByType text/css "access 1 month"  
ExpiresByType text/html "access 1 month" 
ExpiresByType text/htm "access 1 month" 
ExpiresByType application/pdf "access 1 month" 
ExpiresByType image/svg+xml "access 1 month" 
ExpiresByType text/x-javascript "access 1 month" 
ExpiresByType application/javascript "access 1 month" 
ExpiresByType application/x-shockwave-flash "access 1 month" 
ExpiresByType application/vnd.ms-fontobject "access 1 month" 
ExpiresByType application/x-font-otf "access 1 month" 
ExpiresByType application/x-font-ttf "access 1 month" 
ExpiresByType application/x-font-woff "access 1 month" 
ExpiresByType application/x-javascript "access 1 month" 
ExpiresByType application/xhtml+xml "access 1 month" 
ExpiresByType font/opentype "access 1 month" 
ExpiresByType font/otf "access 1 month" 
ExpiresByType font/ttf "access 1 month" 
ExpiresByType font/woff "access 1 month" 
ExpiresByType image/x-icon "access 1 month" 
ExpiresDefault "access 1 month" 


</IfModule>
## EXPIRES CACHING ##

#DEFLATE #
  
<IfModule deflate_module>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
AddOutputFilterByType DEFLATE text/x-javascript image/svg+xml rss+xml
</IfModule>  

#Disable listing
Options All -Indexes
IndexIgnore *
